@import "../../../variables";

// This is a class added dynamically by the component using @HostBinding, so needs the :host
:host {
  &.component-body {
    // Otherwise content fits to content in the cap section (the background image doesn't seem to create width sizing)
    width: 100%;
    max-width: $max-screen-width;
  }
}

app-hero {
  width: 100%;
}

app-feature-icons {
  width: 100%;
}

app-subscribe {
  width: 100%;
}

.subscribe-container {
  @include background-opacity($primary, $opacity-medium);
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 16px;
  padding-right: 16px;

}

