.hero-container {
    position: relative;
}

.background-image {
    max-width: 100%;
    height: auto;
}

.hero-text-container {
    position: absolute;
    left: 10%;
    top: 10%;
    color: white;
}

.hero-text-title {
    font-size: 48px;
    font-weight: 300;
    // text-shadow: 1px 1px 1px black;
}

@media screen and (max-width: 599px) {
    .hero-text-title {
        font-size: 32px;
        font-weight: 300;
    }
}