<div class="home-content" fxLayout="column" fxLayoutAlign="start center">
  <div class="hero-background-image" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start">
    <div class="hero-content-container" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start">
      <div class="hero-text" fxLayout="column" fxLayoutAlign.lt-md="center center">
        <div>Communications Coaching</div>
        <div>& Strategies</div>
      </div>
      <div class="hero-button-container" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px" fxLayoutGap.gt-sm="64px" >
        <button mat-raised-button class="hero-button">Remote Coach</button>
        <button mat-raised-button class="hero-button">Web Courses</button>
      </div>
    </div>
  </div>
  <p>Other page content</p>
</div>