@import "../../../../variables";

:host {
  width: 100%;
}

.billing-details-group {
  width: 100%;
}

mat-form-field {
  width: $desktop-form-width;
}

.credit-card-details-group {
  @include background-opacity($primary, $opacity-minimal);
  width: 100%;
  max-width: 480px;
  padding: 24px;
  border: 1px solid $form-border-color;
}

.card-details-title {
  font-size: 1.4em;
  margin-bottom: 16px;
}

.card-month, .card-year {
  width: 40px;
  text-align: center;
}

.card-cvc {
  width: 56px;
  text-align: center;
}

.buy-button {
  width: $desktop-buy-button-width;
  margin-top: 24px;
  margin-bottom: 16px;
  font-size: 1.3em;
  font-weight: $font-weight-regular;
  height: 2em;
}

.processing-hint {
  font-size: 0.75em;
  opacity: $opacity-medium;
  text-align: center;
}

@media screen and (max-width: $mobile-cutoff-width) {
 
  mat-form-field {
    width: $mobile-form-width;
  }

  .buy-button {
    width: 100%;
    font-size: 1em;
    font-weight: $font-weight-medium;
    height: $mobile-buy-button-height;
  }

  .card-expiration-container {
    width: 100%;
  }
}
