<div class="hero-background-image" [style.backgroundImage]="$stylesObject()">

  <div class="hero-content-container">
    
    <div class="hero-text-container">
      <div class="hero-title" >{{ PAGE_TITLE }}</div>
      <div class="hero-subtitle">
        <p>{{ PAGE_BLURB_PART_ONE }}</p>
        <p>{{ PAGE_BLURB_PART_TWO }}</p>
      </div>
    </div>

  </div>

  <div class="hero-action-container">
    <div class="hero-actions">
      <div class="hero-action-message" (click)=scrollToTextStart()> {{ ACTION_MESSAGE }}</div>
      <mat-icon class="hero-down-icon">keyboard_arrow_down</mat-icon>
    </div>
  </div>

</div>
<div #contentStartTag></div>
