@import '../../../variables';

.hero-background-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 93vh;
  
  background-color: #cccccc;
  background-position: 75%;
  
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-width: $mobile-cutoff-width) {
    align-items: flex-start;
    background-position: top;  
    
  }

}

.hero-content-container {
  flex: 80;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 32px;

  padding: 0 16px;

  @media screen and (min-width: $mobile-cutoff-width) {
    flex: 70;
    
    align-items: flex-start;
    gap: 64px;

    margin-left: 100px;
  }
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;

  max-width: 650px;

  @include background-opacity($primary, $opacity-faded);
  padding: 24px 24px;
  color: white;

  @media screen and (min-width: $mobile-cutoff-width) {
    align-items: flex-start;
    
    padding: 64px 64px;
  }

}

.hero-title {
  color: white;
  text-align: center;
  font-size: 3em;
  font-weight: $font-weight-light;
  line-height: 1.2em;

  @media screen and (min-width: $mobile-cutoff-width) {
    font-size: 4.5em;
    text-align: start;
  }
}

.hero-subtitle {
  color: white;
  text-align: center;
  font-size: 1.5em;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  
  @media screen and (min-width: $mobile-cutoff-width) {
    font-size: 1.8em;
    text-align: start;
  }
}

.hero-action-container {

  flex: 20;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  font-size: 22px;
  color: white;
  margin-bottom: 16px;
  text-align: center;

  @media screen and (min-width: $mobile-cutoff-width) {
    flex: 30;
  }
}

.hero-actions {
  opacity: $active-item-opacity;

  @media screen and (min-width: $mobile-cutoff-width) {
    opacity: $inactive-item-opacity;
  }
}

.hero-actions:hover {
  opacity: $active-item-opacity;
  cursor: pointer;
}

.hero-action-message:hover {
  text-decoration: underline;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.description {
  margin: 32px 16px;

  text-align: center;
  font-size: 1.5em;
  font-weight: $font-weight-light;
  line-height: 1.2em;
  max-width: 1000px;

  @media screen and (min-width: $mobile-cutoff-width) {
    font-size: 2em;
  }
}
