<mat-nav-list>

  <mat-list-item (click)="onToggleSideNav()">
    <mat-icon mat-list-icon>explore</mat-icon>
    <p mat-line>About Me</p>
  </mat-list-item>
  
  <mat-list-item (click)="onToggleSideNav()">
    <mat-icon mat-list-icon>people</mat-icon>
    <p mat-line>Services</p>
  </mat-list-item>
  
  <mat-list-item (click)="onToggleSideNav()">
    <mat-icon mat-list-icon>subscriptions</mat-icon>
    <p mat-line>Blog</p>
  </mat-list-item>
  
  <mat-list-item (click)="onToggleSideNav()">
    <mat-icon mat-list-icon>headset</mat-icon>
    <p mat-line>Podcast</p>
  </mat-list-item>

</mat-nav-list>