@import "../../../../variables";

.in-action-container {
  margin: 32px;
}

.title {
  font-family: $logo-font-family;
  font-size: 48px;
  color: $primary;
  text-align: center;
}

.items {
  margin-top: 32px;
}

.item {
  opacity: $inactive-item-opacity;

}

.item:hover {
  opacity: $active-item-opacity;
  .caption {
    opacity: $opacity-high;
    color: $accent;
  }
  cursor: pointer;
}

.thumbnail {
  width: 300px;
}

.caption {
  font-size: 22px;
  opacity: $opacity-medium;
  text-align: center
}

@media screen and (max-width: $mobile-cutoff-width) {
  .item {
    opacity: $active-item-opacity;
  }
}