<div class="in-action-container">

  <div class="title">
    Explearning in Action
  </div>

  <div class="items" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="32px">

    <div class="item-row" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutGap="32px">
      <div routerLink="/blog" class="item" fxLayout="column" fxLayoutAlign="center center">
        <div class="thumbnail">
          <img class="blog-link" src="assets/images/youtube-thumbs/yt-thumb-1_small.jpg" alt="blog thumbnail">
        </div>
        <div class="caption">
            Fix Your Posture
        </div>
      </div>
      <div routerLink="/blog" class="item" fxLayout="column" fxLayoutAlign="center center">
        <div class="thumbnail">
          <img class="blog-link" src="assets/images/youtube-thumbs/yt-thumb-2_small.jpg" alt="blog thumbnail">
        </div>
        <div class="caption">
          Use Cultural Context
        </div>
      </div>
      <div routerLink="/blog" class="item" fxLayout="column" fxLayoutAlign="center center">
        <div class="thumbnail">
          <img class="blog-link" src="assets/images/youtube-thumbs/yt-thumb-3_small.jpg" alt="blog thumbnail">
        </div>
        <div class="caption">
          Making Small Talk
        </div>
      </div>
    </div>

    <div class="item-row" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row" fxLayoutGap="32px">
      <div routerLink="/blog" class="item" fxLayout="column" fxLayoutAlign="center center">
        <div class="thumbnail">
          <img class="blog-link" src="assets/images/youtube-thumbs/yt-thumb-4_small.jpg" alt="blog thumbnail">
        </div>
        <div class="caption">
          Tips to Avoid Fillers
        </div>
      </div>
      <div routerLink="/blog" class="item" fxLayout="column" fxLayoutAlign="center center">
        <div class="thumbnail">
          <img class="blog-link" src="assets/images/youtube-thumbs/yt-thumb-5_small.jpg" alt="blog thumbnail">
        </div>
        <div class="caption">
          Executive Presence for Women
        </div>
      </div>
      <div routerLink="/blog" class="item" fxLayout="column" fxLayoutAlign="center center">
        <div class="thumbnail">
          <img class="blog-link" src="assets/images/youtube-thumbs/yt-thumb-6_small.jpg" alt="blog thumbnail">
        </div>
        <div class="caption">
          How to Network
        </div>
      </div>
    </div>
    
  </div>
</div>
