rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
  
  	allow read, write: if false;

    match /blogIndexRefs/{blogIndexRef} {
      // Anyone can read posts
      allow read;
    }

    match /posts/{post} {
    	// Anyone can read posts
      allow read;
    }

    match /podcastContainers/{podcastId} {
      // Anyone can read podcastContainers
      allow read;
      
      match /podcastEpisodes/{episodeId} {
        // Anyone can read podcastEpisodes
        allow read;
      }
    }

    match /sharedResources/{sharedResourceId} {
      // Anyone can read sharedResources
      allow read;
    }
  }
}