.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 32px;
}

app-blog-hero {
  width: 100%;
}

app-post-collection {
  width: 100%;
}