<div class="page-container" fxLayout="column" fxLayoutAlign="center center">
  <app-page-hero [heroData]="heroData"></app-page-hero>
  <div class="content-body-container" fxLayout="column" fxLayoutAlign="center center">
    <app-podcast-body></app-podcast-body>
    <!-- <div class="see-more" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <div class="see-more-text">To view our complete collection of podcasts, checkout our Spotify profile below.</div>
      <div class="podcast-embed">
        <iframe width="100%" height="100%" frameborder="0" scrolling="no" [src]="sanitizedEmbededPlayerUrl"></iframe>
      </div>
    </div> -->
    <a mat-raised-button [href]="podcastPageUrl" target="_blank" color="primary">See More</a>
  </div>
</div>