<div class="component-container">
  <div class="cap-item">
    <div class="cap-title">{{ CAPTION_TITLE_ONE }}</div>
    <div class="cap-body">{{ CAPTION_BODY_ONE }}</div>
    <div class="cap-icon">
      <img src="{{CAPTION_ICON_PATH_ONE + '.svg'}}" alt="confidence icon">
    </div>
  </div>
  <div class="cap-item">
    <div class="cap-title">{{ CAPTION_TITLE_TWO }}</div>
    <div class="cap-body">{{ CAPTION_BODY_TWO }}</div>
    <div class="cap-icon">
      <img src="{{CAPTION_ICON_PATH_TWO + '.svg'}}" alt="confidence icon">
    </div>
  </div>
  <div class="cap-item">
    <div class="cap-title">{{ CAPTION_TITLE_THREE }}</div>
    <div class="cap-body">{{ CAPTION_BODY_THREE }}</div>
    <div class="cap-icon">
      <img src="{{CAPTION_ICON_PATH_THREE + '.svg'}}" alt="confidence icon">
    </div>
  </div>
</div>