@import "../../../../../variables";

:host {
  width: 100%;
  max-width: $max-screen-width;
}

.title {
  font-family: $logo-font-family;
  font-size: 48px;
  color: $primary;
  text-align: center;
  margin-top: 32px;
  margin-bottom: 16px;
}

.collection-container {
  @include collection-container-bounds;
}
