@import "../../../../../variables";

.item {
  width: 300px;
}

.item:hover {
  cursor: pointer;
  .caption {
    opacity: $opacity-full;
  }
}

.thumbnail {
  width: 300px;
}

.post-image {
  max-width: 100%;
}

.caption {
  font-size: 22px;
  opacity: $opacity-high;
  text-align: center;
  position: relative;
  display: inline-block;
  @include line-clamp(2);
}
