$expn-accent: (
  50 : #e7e9fe,
  100 : #c2c9fd,
  200 : #99a5fc,
  300 : #7080fb,
  400 : #5265fa,
  500 : #334af9,
  600 : #2e43f8,
  700 : #273af7,
  800 : #2032f6,
  900 : #1422f5,
  A100 : #ffffff,
  A200 : #f1f1ff,
  A400 : #bec1ff,
  A700 : #a4a8ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);