@import "../../../variables";


.component-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 100%;
}

.post-collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Flexible columns */
  justify-items: center;
  align-items: start;

  grid-gap: 32px 24px; /* Column and row gaps */

  width: 100%;
  max-width: 1200px;


}

app-post-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  
  width: 100%;
}
