@use '@angular/material' as mat;
// Import material theming functions

// Copied from theme.scss
$expn-public-primary: (
  50 : #e4f2fe,
  100 : #bce0fb,
  200 : #90cbf9,
  300 : #64b6f7,
  400 : #42a6f5,
  500 : #2196f3, // Primary Color
  600 : #1d8ef1,
  700 : #1883ef,
  800 : #1479ed,
  900 : #0b68ea,
  A100 : #ffffff,
  A200 : #e1ecff,
  A400 : #aeccff,
  A700 : #95bcff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);


$expn-public-accent: (
  50 : #e7e9fe,
  100 : #c2c9fd,
  200 : #99a5fc,
  300 : #7080fb,
  400 : #5265fa,
  500 : #334af9, // Accent Color
  600 : #2e43f8,
  700 : #273af7,
  800 : #2032f6,
  900 : #1422f5,
  A100 : #ffffff,
  A200 : #f1f1ff,
  A400 : #bec1ff,
  A700 : #a4a8ff,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

// Consider swapping this for something more distinct
$expn-public-warn: (
  50 : #fdece4,
  100 : #fbcfbd,
  200 : #f8b091,
  300 : #f59064,
  400 : #f37843,
  500 : #f16022,
  600 : #ef581e,
  700 : #ed4e19,
  800 : #eb4414,
  900 : #e7330c,
  A100 : #ffffff,
  A200 : #ffe3de,
  A400 : #ffb7ab,
  A700 : #ffa191,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);

$theme-primary: mat.define-palette($expn-public-primary);
$theme-accent:  mat.define-palette($expn-public-accent);
$theme-warn:    mat.define-palette(mat.$red-palette);

// Create your Sass color vars (will be available in all the project)
$primary: mat.get-color-from-palette($theme-primary);
$accent: mat.get-color-from-palette($theme-accent);
$warn: mat.get-color-from-palette($theme-warn);

@mixin accent-opacity($opacity: 0.2) {
    background: rgba(51, 74, 249, $opacity); // convert accent hex to digits, each rgb value is a pair of hex characters in digit form
}

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

$font-subheader-color: #707070;

$logo-font-family: "HarlowSolid";
$logo-font-default-size: 40px;
$logo-font-mobile-size: 35px;
// Color from here: https://blog.union.io/code/2017/08/10/img-svg-fill/ && https://codepen.io/sosuke/pen/Pjoqqp
$svg-color-filter: brightness(0) saturate(100%) invert(83%) sepia(63%) saturate(2447%) hue-rotate(330deg) brightness(101%) contrast(101%);

$mobile-cutoff-width: 959px;

$mobile-button-width: 90%;
$desktop-button-width: 400px;
$desktop-buy-button-width: 600px;
$mobile-buy-button-height: 3em;
$desktop-buy-button-height: 2em;

$acdmy-button-color: #fcb018;

$mobile-form-width: 100%;
$desktop-form-width-standard: 400px;
$desktop-form-width-wide: 600px;
$form-border-color: #EEEEEE;

$mobile-screen-width: 100%;
$desktop-screen-width: 2500px;

$text-block-font-weight: $font-weight-regular;
$text-block-desktop-font-size: 22px;
$text-block-mobile-font-size: 20px;
$text-block-max-width: 670px;
$text-block-padding: 16px 24px 16px 24px;


$inactive-item-opacity: 0.8;
$active-item-opacity: 1;

$opacity-full: 1;
$opacity-high: 0.87;
$opacity-medium: 0.60;
$opacity-light: 0.38;
$opacity-faded: 0.3;
$opacity-minimal: 0.1;


// $hex-opacity-high-emphasis: DE;
// $hex-opacity-medium-emphasis: 99;
// $hex-opacity-light-emphasis: 61;
// $hex-opacity-faded-emphasis: 4D;

// From https://stackoverflow.com/a/10939797/6572208
// Sets the background to the stated color and transparency
@mixin background-opacity($color, $opacity) {
    background: $color; /* The Fallback */
    background: rgba($color, $opacity);
}

@mixin collection-container-bounds {
    width: 100%;
    max-width: 1200px;
    margin-top: 16px;
    margin-bottom: 32px;
}

// Courtesty of https://stackoverflow.com/a/26634773/6572208
@mixin line-clamp($numLines : 1, $lineHeight: 1.412) {
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: block;
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
    max-height: $numLines * $lineHeight + unquote('em');
}

@mixin tooltiptext() {
    .tooltiptext {
        visibility: hidden;
        width: 120px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px 0;
        position: absolute;
        z-index: 1;
        bottom: 150%;
        left: 50%;
        margin-left: -60px;
        }
        
    .tooltiptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: black transparent transparent transparent;
        }
}



@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
//   width: $size;
  line-height: $size;
}

// Courtesy of https://github.com/angular-university/angular-material-course/blob/master/src/_mixins.scss
@mixin edit-training-plan-drag-drop {

    .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                    0 8px 10px 1px rgba(0, 0, 0, 0.14),
                    0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

    .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .training-session-card-container:last-child {
        border: none;
    }

    .drag-drop-list.cdk-drop-list-dragging .drag-drop-item:not(.cdk-drag-placeholder) {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }

    .drop-placeholder {
        background: #ccc;
        border: dotted 2px #999;
        min-height: 60px;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
    }
  
  }

@mixin default-text-style($margin-top: 16px) {
    margin-top: $margin-top;
    font-size: 1.2em;
    font-weight: $font-weight-light;
    line-height: 1.2em;
    text-align: center;
}

@mixin default-header-style($font-weight: $font-weight-light) {
    font-size: 1.5em;
    font-weight: $font-weight;
    line-height: 1.2em;
    text-align: center;
}

@mixin textBlockBullets() {
    ul {
        list-style: none;
        padding: 0px;
        margin: 1em 0;
        font-size: 1em;
    }
      
    ul li {
        list-style-type: none;
        background-image: url('/assets/icons/text/bullet_icon.png');
        background-size: 12px;
        background-repeat: no-repeat;
        background-position: 0px 5px;
        padding-left: 30px;
        margin: 1em;

        @media screen and (min-width: $mobile-cutoff-width) {
            background-size: 16px;
            background-position: 0px 8px;
            padding-left: 40px;
        }
    }

    
}

@mixin post-content-styles() {
    padding: 0 16px;
    
    @include textBlockBullets();
    
        figcaption {
            color: #333;
            background-color: #f7f7f7;
            padding: .6em;
            font-size: .75em;
            text-align: center;
        }
        
        figure > img {
            width: 100%;
        }
        
        // Blockquote styling
        // Courtesy of https://codepen.io/cliftwalker/pen/XJaEXY
        blockquote {
            font-size: 1.4em;
            width:60%;
            margin:50px auto;
            font-family:Open Sans;
            font-style:italic;
            color: #555555;
            padding:1.2em 30px 1.2em 75px;
            border-left:8px solid $accent ;
            line-height:1.6;
            position: relative;
            background:#EDEDED;
        }
        
        blockquote::before{
            font-family:Arial;
            content: "\201C";
            color: $accent;
            font-size:4em;
            position: absolute;
            left: 10px;
            top:-10px;
        }
        
        blockquote::after{
            content: '';
        }
        
        blockquote span{
            display:block;
            color:#333333;
            font-style: normal;
            font-weight: bold;
            margin-top:1em;
        }
    
        ol, ul, li {
            margin-top: 1em;
            margin-bottom: 1em;
        
            font-size: 22px;
            line-height: 1.2em;
        }
        
        h2 {
            margin-top: 1.2em;
            margin-bottom: 0.8em;
        
            color: $primary;
            line-height: 1.2em;
            font-weight: $font-weight-light;
            font-size: 32px;
        }
    
        h3 {
            margin-top: 1.1em;
            margin-bottom: 0.8em;
        
            color: $primary;
            line-height: 1.2em;
            font-weight: $font-weight-light;
            font-size: 26px;
        }
    
        h4 {
            margin-top: 1em;
            margin-bottom: 0.8em;
        
            color: $primary;
            line-height: 1.2em;
            font-weight: $font-weight-light;
            font-size: 22px;
        }
    
        p {
            margin-bottom: 1.2em;
        
            line-height: 1.2em;
            font-weight: $text-block-font-weight;
            font-size: 22px;
        }
    
        @media screen and (min-width: $mobile-cutoff-width) {
            ol, ul, li {
                margin-top: 1.2em;
                margin-bottom: 1.2em;
            }
            
            // This is the CK Editor's Heading 1
            h2 {
                margin-top: 1.4em;
                margin-bottom: 1em;
            }
            
            h3 {
                margin-top: 1.3em;
                margin-bottom: 1em;
            }
            
            h4 {
                margin-top: 1.2em;
                margin-bottom: 1em;
            }
            
            p {
                margin-top: 1em;
                margin-bottom: 1em;
            }
        }
}
