<!-- <mat-card fxLayout="column" fxLayoutAlign="end start">
  <mat-card-content (click)="onSelectPost()" >
    <div *ngIf="post.heroImageProps">
      <img class="post-image" [src]="post.heroImageProps.src" [srcset]="post.heroImageProps.srcset" [sizes]="post.heroImageProps.sizes" [width]="post.heroImageProps.width" [alt]="post.title">
    </div>
    <div class="card-text">
      <h2>{{ post.title }}</h2>
      <p><small>Modified by {{ post.author }} &bull; {{ post.modifiedDate | date }}</small></p>
    </div>
  </mat-card-content>
</mat-card> -->

<div [routerLink]="['.', post.id]" class="item" fxLayout="column" fxLayoutAlign="center center">
  <div class="thumbnail">
    <img class="post-image" [src]="post.heroImageProps.src" [srcset]="post.heroImageProps.srcset" [sizes]="post.heroImageProps.sizes" [width]="post.heroImageProps.width" [alt]="post.title">
  </div>
  <div class="caption">
      {{ post.title }}
  </div>
</div>
