@import "../../../../../variables";

.item {
  opacity: $inactive-item-opacity;
  width: 300px;
}

.item:hover {
  opacity: $active-item-opacity;
  .caption {
    opacity: $opacity-high;
    // color: $accent;
  }
  cursor: pointer;
}

.thumbnail {
  width: 300px;
}

.post-image {
  max-width: 100%;
}

.caption {
  font-size: 22px;
  opacity: $opacity-medium;
  text-align: center
}

@media screen and (max-width: $mobile-cutoff-width) {
  .item {
    opacity: $active-item-opacity;
  }
}