@import "../../../variables";

.title {
  font-size: 32px;
  color: white;
}

.description {
  font-size: 16px;
  color: white;
}

.subscribe-form {
  width: 100%;
}

mat-form-field {
  width: $desktop-form-width;
}

.input-placeholder {
  color: white;
}

.email-input {
  color: $accent;
}

button {
  width: $desktop-button-width;
}


.post-submit-message {
  color: $accent;
  text-align: center;
}

@media screen and (max-width: $mobile-cutoff-width) {
  .description {
    text-align: center;
  }

  mat-form-field {
    width: $mobile-form-width;
  }

  button {
    width: $mobile-button-width;
  }
  
}