<div class="content-container" fxLayout="column" fxLayoutAlign="center center">
  <div class="header">
    Dell Hymes has revealed his magic formula for effective communication.
  </div>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.FOUNDER_AVATAR"></app-avatar-portrait>
      <div class="intro-text">
        <p>Okay, so there's no magic formula for effective communication. But the Dell Hymes SPEAKING Model might be the next best thing.</p>
      </div>
    </div>
    <div class="body-text">
      <div class="section-one">
        <p>Speaking up in various social settings is now more apparent than ever with this communication framework.</p>
        <ol>
          <li>Do you wonder how to alter your communication based on the social situation?</li>
          <li>Are you unsure of how to navigate professional vs. casual settings?</li>
          <li>Are you unsure of how to communicate with people from various cultures?</li>
          <li>Do you want more power over your communication outcomes?</li>
        </ol>
        <p>If you answered a resounding YES! to any of these questions, then our Dell Hymes SPEAKING Model course is for you.</p>
        <p>It is chockful of original insights and powerful, actionable strategies to equip you for success.</p>
        <p>You'll find this course valuable if you match ANY of the following criteria:</p>
        <ul>
          <li>You want to communicate in a relaxed and confident way, regardless of the social situation</li>
          <li>You want better communication outcomes in your personal and professional life</li>
          <li>You want to communicate more effectively in different languages and with different cultures</li>
          <li>You want to reduce your social anxiety</li>
          <li>You want to express yourself more effectively in online interactions</li>
        </ul>
        <p>The best part is, I've done all the work for you! Now all you have to do is apply the framework to your social situations.</p>
        <p>You'll notice a dramatic difference by implementing this SPEAKING framework in your interactions at work and home. When communicating, your confidence levels will increase, you'll earn more respect from the people you speak with, and you'll get better responses from people you encounter.</p>
        <p>This course is for you if you are committed to supercharging your communication skills.</p>
      </div>
    </div>
  </div>
</div>
