@import "../../../../variables";

.component-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.post-body {
  width: 100%;
  max-width: $text-block-max-width;

  padding: 0 24px;
  box-sizing: border-box;

  
 
  ::ng-deep {

    @include post-content-styles();

  }

  

}