@import './app/variables';

// Custom brand font (converted at: https://onlinefontconverter.com/)
@font-face {
  font-family: 'HarlowSolid';
  src: url(assets/fonts/HarlowSolid.woff2) format('woff2'),
       url(assets/fonts/HarlowSolid.woff) format('woff'),
       url(assets/fonts/HarlowSolid.ttf) format('truetype');
}

html, body { 
  height: 100%; 
  min-width: $min-screen-width;
}

body { 
  margin: 0; 
  font-family: 'Roboto', sans-serif, "Helvetica Neue", arial; 
}
