<div class="content-container puppeteer-loaded" fxLayout="column" fxLayoutAlign="center center">
  <p class="header">
    A richer life begins with stronger social connections. Our job at {{ shorthandName }} is to supercharge your social interactions with your friends, co-workers, and clients.
  </p>
  
  <div class="body-container" fxLayout="column" fxLayoutAlign="start center">
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.FOUNDER_AVATAR_2"></app-avatar-portrait>
      <p class="intro-text">
        Mary Daphne is CEO and Co-Founder of Explearning.
      </p>
    </div>
    <div class="body-text bio-section">
      <p>With an Ed.M in Applied Linguistics, Mary Daphne has over a decade of experience working in cross-cultural corporate communications as well as television and live broadcasting. She loves exploring the intersection of language, culture, and social interaction.</p>
      <p>Alongside her corporate engagements, Mary Daphne has spent the last decade designing social skills, public speaking, cross-cultural communications, and business communications courses. Her lessons leverage technology, empirical research, and data-backed teaching methodologies to produce high-value outcomes for her students and clients.</p>
      <p>Mary Daphne is a native New Yorker and an avid traveler. In her spare time, you can find her hiking, painting, and composing children’s books.</p>
      <p>She received her Ed.M. in Applied Linguistics from Columbia University, graduated Valedictorian with an MA in TESOL from Bahçeşehir University, Istanbul, and graduated Magna Cum Laude from Hamilton College with a BA in French and Communication studies.</p>
    </div>
    <div class="body-intro" fxLayout="row" fxLayoutAlign="center center">
      <app-avatar-portrait [imagePath]="imagePaths.FOUNDER_AVATAR"></app-avatar-portrait>
      <p class="intro-text">
        Greg is COO and Co-Founder of Explearning.
      </p>
    </div>
    <div class="body-text bio-section">
      <p>Prior to {{ shorthandName }}, Greg was COO of Ticket Monster, an online secondary market event ticket retailer based in New York City. After growing the company from three to nearly fifty employees, he structured and closed the sale of Ticket Monster to an industry leader in the entertainment space.</p>
      <p>Before Ticket Monster, Greg lived in Beijing, where he launched fundraising operations for the educational non-profit Teach For China, expanding the organization’s annual donation pipeline from under $1M to over $5M in two years.</p>
      <p>While at Teach For China, Greg also co-founded The China Step, a web-based travel business that provided recent graduates with affordable services for living and traveling in China.</p>
      <p>Prior to Beijing, through a Princeton in Asia Fellowship, Greg laid the pedagogical foundation for Teach For China in its inaugural year as one of 20 Fellows teaching 7th grade English in rural Yunnan Province.</p>
      <p>Born in New York City and raised in Hong Kong, Greg likes to spend his time in forests and mountains. But more often than not, he's just typing away at a computer.</p>
      <p>Greg received his MBA from the University of Pennsylvania’s Wharton School of Business and a Master's Degree in International Studies from the University of Pennsylvania's Lauder Institute. He graduated from Hamilton College with a BA in English and Chinese Studies.</p>
    </div>
    <ng-container *appShellNoRender>
      <div *ngIf="videoHtml" class="video-container" fxLayout="column" fxLayoutAlign="center center">
        <div class="video-body" [innerHTML]="videoHtml"></div>
        <div class="video-caption">(for the visual learners)</div> 
      </div>
    </ng-container>
  </div>
</div>