
<div class="page-container" fxLayout="column" fxLayoutAlign="center center">
  <app-page-hero [heroData]="heroData">
    <div class="about-me-blurb" fxLayout="column" fxLayoutAlign="center center" fxLayoutAlign.gt-sm="center start">
      <h1 class="blurb-title">Welcome to Explearning!</h1>
      <div class="blurb-text">
        <p>Explearning is an online platform for developing social skills and mental fortitude.</p>
        <p>Mary Daphne and Greg combine decades of experience to offer a unique approach to building stronger social connections.</p>
      </div>
    </div>
  </app-page-hero>

  <div class="content-body-container" fxLayout="column" fxLayoutAlign="center center">
    <app-about-body></app-about-body>
  </div>

</div>
